div {
    border: black 5px solid;
    margin: 10px;
    padding: 10px;
}
  
div :first-child {
    color: green;
}

a:link {
    background-color: grey;
}

a:visited {
    background-color: lightgrey;
}

/* p.a:hover{
    background-color: red;
    color: blue;
} */

p.a{
    background-color: white;
    color: black;
}

p.a:active{
    background-color: green;
    color: blue;
}

input:focus {
    border: green 2px dotted;
    padding: 2px;
}

 p::first-line {
    text-transform: uppercase;
} 

p::first-letter {
    color: green;
    
}

p.cuidado::before {
    content: "Warning!!: ";
    font-weight: bold;
    text-decoration: underline;
}

p.cuidado::after {
    content: " (prova after).";
}

pre.d {
    counter-reset: cuentaparrafos;
}
  
p.c::before {
    content: counter(cuenta-parrafos, hiragana)". ";
    counter-increment: cuentaparrafos ;
}